.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    /* grid-template-columns: repeat(2, 1fr); */
  }
  
  .card{
    background-color: #f8d7da;
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }